body {
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
color: blue;
}
ul li a {
    color: brown;
}
ol li a {
    color: greenyellow;
}
#p1{ 
    color: aqua;
}
.p2{
    color: blueviolet;
}
.cetak{
    font-weight: bold;
}
p.cetak {
    font-size: 30px;
}